.NavbarMobileLink {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    border: 1px solid #2323236d;
    padding: 5px 0;
    box-shadow: 0 4px 8px rgba(46, 45, 45, 0.682);
    border-radius: 5px;

    &:hover {
        color: #fff;
    }
}