.Navbar {
    display: flex;
    gap: 53px;
    padding: 0;
    margin: 0;

    a {
        color: #606060;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        text-transform: capitalize;
        transition: all .3s ease-in-out;

        &:hover {
            color: #6C5FBC;
        }
    }
}

.NavbarMobile {
    flex-direction: column;
    text-align: center;
    gap: 10px;

    a {
        display: inline-block;
        width: 100%;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 0;

        &:hover {
            color: #fff;
        }
    }
}