.Navbar {
    display: flex;
    gap: 53px;
    list-style: none;
    margin: 0;

    a {
        color: #606060;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        text-transform: capitalize;
        transition: all .3s ease-in-out;

        &:hover {
            color: #6C5FBC;
        }
    }
}