.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 96px 0 81px;
    background: #EAEAEA;

    @media (max-width: 575px) {
        padding: 55px 0 36px;
    }
}

.FooterNavigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 575px) {
        flex-direction: column;
    }
}

.FooterBody {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #818181;

    @media (max-width: 575px) {
        padding-bottom: 32px;
    }
}

.FooterUnderNav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    @media (max-width: 575px) {
        justify-content: center;
        padding-top: 26px;
    }
}

.FooterCopyright {
    color: #70798B;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.47;
}